*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

.hero{
    height: 100vh;
    width: 100%;
    background-image: url('Fondo.png');
    background-size: cover;
    background-position: center;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}

.logo{
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}

span{
    color: #f9004d;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-transform: capitalize;
}

nav ul li a:hover{
    color: #f9004d;
    transition: .4s;
}

.btn{
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    padding: 10px 25px;
    border-radius: 30px;
    border: 2px solid transparent;
    font-weight: bold;
    transition: trAansform .4s;
}

.btn:hover{
    transform: scale(1.2);
}

.content{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}

h1{
    font-size: 75px;
    color: white;
    margin: 20px 0px 20px;
}

h3{
    font-size: 25px;
    color: white;
    margin-bottom: 50px;
}

h4{
    font-size: 20px;
    color: #fcfc;
   letter-spacing: 2px;
}

.newslatter form{
    width: 380px;
    position: relative;
    max-width: 100%;
}

.newslatter form input:first-child{
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border: 2px solid #f9004d;
    outline: none;
    border-radius: 30px;
}

.newslatter form input:last-child{
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: #f9004d;
    color: white;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585; 
    top: 6px;
    right: 6px;   
}

.about{
    width: 100%;
    padding: 100px 0px;
    background-color: #191919;
}

.about img{
    height: auto;
    width: 430px;
}

.about-text{
    width: 550px;
}

.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.about-text h2{
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-text h5{
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}

.about-text p{
    color: #fcfc;
    letter-spacing: 1px;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 45px;
}

button{
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}

button:hover{
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}

.services{
    width: 100%;
    padding: 100px 0px;
    background: #101010;
}

.title{
    color: white;
    font-size: 75px;
    text-align: center;
    width: 1130px;
    margin: 30px auto;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

.card{
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background: #191919;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.card i{
    font-size: 50px;
    color: #f9004d;
    display: block;
    text-align: center;
    margin: 25px 0px;
}

h5{
    color: white;
    font-size: 23px;
    margin-bottom: 15px;
}

.pra p{
    color: #fcfc;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}

.card .button{
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}

.card .button:hover{
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}


.skills{
    padding: 50px 0;
    text-align: center;
    background: #191919;
}

.skills h2{
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.skills-content{
    display: flex;
    align-items: center;
}

.skills-txt{
    width: 50%;
}

.skills-card{
    display: flex;
    align-items: flex-start;
    background-color: #151c24;
    padding: 15px 20px;
    border-radius: 25px;
    width: 500px;
    margin-bottom: 35px;
    margin-left: 150px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.skills-card img{
    width: 25px;
    margin-right: 25px;
}

.card-txt{
    text-align: left;
}

.card-txt h3{
    font-size: 16px;
    font-weight: 600;
    color: #fefffb;
    margin-bottom: 10px;
}

.card-txt p{
    color: #fcfc;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}

.card-txt a{
    font-size: 16px;
    font-weight: 600;
    color: #fefffb;
}

.skills-img{
    width: 50%;
}

.skills-img img{
    width: 550px;
}


.contacto {
    background-color: #101010;
    padding: 50px 0;
}

.contacto-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.contacto h2 {
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
    text-align: center;
}

.contacto p {
    color: #fcfc;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}

.contact-form-container {
    width: 50%;
    padding: 20px;
    text-align: left;
}

.contact-form {
    max-width: 700px;
    margin: 0 auto;
    background-color: #1c242f;
    padding: 30px;
    border-radius: 25px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.contact-form label {
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #fefffb;
    margin-bottom: 10px;
    text-align: left;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    border-radius: 25px;
    border: 1px solid #444;
    margin-bottom: 20px;
    background-color: #1c242f;
    color: #fefffb;
}

.contact-form input:focus,
.contact-form textarea:focus {
    outline: none;
    border-color: #fd00ad;
}

.contact-form textarea {
    height: 150px;
    resize: none;
}

.contact-form button {
    background: linear-gradient(90deg, rgba(131, 45, 153, 1) 33%, rgba(193, 58, 143, 1) 69%, rgba(196, 37, 116, 1) 100%);
    color: #fefffb;
    font-size: 18px;
    font-weight: 600;
    padding: 15px 35px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #ba00fd;
}

.contact-img-container {
    width: 40%;
    text-align: center;
}

.contact-img {
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.contact-me{
    width: 100%;
    height: 290px;
    background: #191919;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
} 

.contact-me p{
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
}

.contact-me .button-two{
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}

.contact-me .button-two:hover{
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}

footer{
    position: relative;
    width: 100%;
    height: 400px;
    background: #101010;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer p:nth-child(1){
    color: white;
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: bold;
}

footer p:nth-child(2){
    color: white;
    font-size: 17px;
    width: 500px;
    text-align: center;
    line-height: 26px;
}

.social{
    display: flex;
}

.social a{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f9004d;
    border-radius: 50%;
    margin: 22px 10px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.social a:hover{
    transform: scale(1.3);
    transition: .3s;
}

.end{
    position: absolute;
    color: #f9004d;
    bottom: 35px;
    font-size: 14px;
}
